pkg/
src/
*.zst
*.sig
*.tar.gz
*.SRCINFO
*/.git
!rebornos-mate-skel/src
!rebornos-ukui-skel/src
electron19/electron
electron19/depot_tools
electron19/chromium-102-patchset-6.tar.xz
code/code
*.xz
budgie-control-center/*.tar.xz.asc
anbox-image-aarch64/android.img
anbox-modules-dkms/anbox-modules
python2/Python-*.tar.xz.asc